/* shared style */
body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
.primary-color{
    color: #FD6E0A;
}
.primary-button{
    color: #FFFFFF;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 19px;
    font-weight: 700;
}
.primary-description{
    color: #757575;
}


/* header style */
.header{
    background-color: #FFF8F3;
    background-image: url('images/developer.png');
    background-repeat: no-repeat;
    background-position: 2.5% center;
}

/* navigation styles */
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 130px 0 180px;
}
.header-nav ul{
    display: flex;
    align-items: center;
}
.header-nav li{
    list-style: none;
    margin-right: 50px;
}
.header-nav a{
    text-decoration: none;
    color: #474747;
}
.header-nav h3{
    font-size: 45px;
    font-weight: 900;
}
.header-nav .primary-button{
    padding: 15px 30px;
}

/* header banner style */
.banner{
    display: flex;
    align-items: center;
    padding:0 40px 0 180px;
    justify-content: space-between;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
.banner img{
    width: 550px;
}
.banner .primary-button{
    padding: 15px 20px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
.banner-greeting, .banner-title{
    margin: 0;
}
.banner .primary-description{
    margin: 20px 0 30px 0;
}
.banner .primary-button{
    margin-right: 20px;
}
.banner-text{
    max-width: 500px;
}