/* shared style */
body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
.primary-color{
    color: #FD6E0A;
}
.primary-button{
    color: #FFFFFF;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    font-weight: 700;
}
.primary-description{
    color: #757575;
    line-height: 1.8em;
}
.primary-heading-3{
    font-size: 35px;
    font-weight: 700;
    margin: 0;
    color: #181818;
}

/* header style */
.header{
    background-color: #FFF8F3;
    background-image: url('images/developer.png');
    background-repeat: no-repeat;
    background-position: 2.5% center;
}

/* navigation styles */
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px 0 180px;
}
.header-nav ul{
    display: flex;
    align-items: center;
}
.header-nav li{
    list-style: none;
    margin-right: 50px;
}
.header-nav a{
    text-decoration: none;
    color: #474747;
}
.header-nav h3{
    font-size: 45px;
    font-weight: 900;
}
.header-nav .primary-button{
    padding: 15px 30px;
}

/* header banner style */
.banner{
    display: flex;
    align-items: center;
    padding:0 40px 0 180px;
    justify-content: space-between;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
.banner img{
    width: 550px;
}
.banner .primary-button{
    padding: 15px 20px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
.banner-greeting, .banner-title{
    margin: 0;
}
.banner .primary-description{
    margin: 20px 0 30px 0;
}
.banner .primary-button{
    margin-right: 20px;
}
.banner-text{
    max-width: 500px;
}

/* main area styles */
.main{
    padding: 0 180px;
}
.main section,footer{
    margin-top: 100px;
}
.about-me{
    background-color: #FFF8F3;
    padding: 90px 210px;
    border-radius: 5px;
}
.main .primary-description{
    text-align: center;
    margin: 40px 0;
}
.about-me-info .info-title{
    color: #757575;
    margin: 0 0 10px 0;
}
.about-me-info .info-content{
    color: #474747;
    font-weight: 700;
    margin: 0;
}
.main .primary-heading-3{
    text-align: center;
}
.about-me-info{
    display: flex;
    justify-content: space-around;
}
.info-description{
    text-align: center;
}
#what-i-do-description{
    padding: 0 210px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skills h4{
    color: #181818;
    font-size: 18px;
}
.skills .skill-description{
    color: #757575;
    font-size: 14px;
    line-height: 1.7em;
}
.skill-container .skills{
    padding: 35px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06);
}
.resume-title{
    color: #474747;
    font-size: 28px;
}
.resume-sub-title{
    color: #474747;
    font-size: 22px;
}
.resume-date{
    color: #757575;
    font-size: 18px;
}
.resume-description{
    color: #757575;
    font-size: 14px;
}
.resume-container{
    display: flex;
    gap: 70px;
}
.resume-title{
    margin: 80px 0 30px 0
}
.resume-sub-title{
    margin: 0 0 10px 0;
}
.resume-date{
    margin: 0 0 20px 0;
}
.resume-description{
    margin: 0;
    padding-right: 120px;
    line-height: 1.7em;
}
.resume-container hr{
    margin: 30px 0;
}
.resume-button .primary-button{
    padding: 15px 20px;
}
.resume-button{
    text-align: center;
    margin-top: 50px;
}

/* footer styles */
.footer-container{
    display: flex;
    gap: 150px;
    background-color: #FFF8F3;
    padding: 100px 180px 80px;
}
.footer-column{
    width: 50%;
}
.footer-heading{
    margin-bottom: 30px;
}
.footer-description{
    max-width: 660px;
    margin: 0 0 30px 0;
    color: #474747;
    font-size: 14px;
}
.footer-icon a{
    margin-right: 20px;
}
.form-input{
    display: block;
    margin-bottom: 15px;
    width: 92%;
    border: 0;
    border-radius: 5px;
    padding: 20px;
}
.input-message{
    padding-bottom: 130px;
}
.form-container .primary-button{
    padding: 15px 30px;
}
.form-container ::placeholder{
    color: #757575;
    font-size: 14px;
}